PORT=3001
NODE_ENV=development

# PostgreSQL (Neon)
PGHOST=ep-royal-mountain-ada5k735-pooler.c-2.us-east-1.aws.neon.tech
PGDATABASE=neondb
PGUSER=neondb_owner
PGPASSWORD=your_password_here
PGSSLMODE=require

# Frontend API Configuration
VITE_API_URL=http://localhost:4000
#VITE_API_URL=https://farmalink-gateway.onrender.com
